<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동물 삭제</title>
</head>
<body>
<h2>삭제</h2>
<hr>
<form method="POST" action="/del">
    <label>동물 아이디 : <input type="number" name="id"></label>
    <button type="submit">제출</button>
</form>
<hr>
<a href="ani">돌아가기</a>
</body>
</html>