<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동물 등록</title>
</head>
<body>
<h2>동물 등록</h2>
<hr>
<form method="POST" action="/ins">
    <label>이름 : <input type="text" name="name"></label>
    <label>나이 : <input type="number" name="age"></label>
    <label>종류 : <input type="text" name="kind"></label>
    <input type="submit">
</form>
<hr>
<a href="ani">돌아가기</a>
</body>
</html>