<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동물 부분검색</title>
</head>
<body>
<h2>부분 검색하기</h2>
<hr>
{{#sel}}
<div>
    <label>아이디 : {{id}}</label>
    <label>이름 : {{name}}</label>
    <label>나이 : {{age}}</label>
    <label>종류 : {{kind}}</label>
</div>
{{/sel}}
<hr>
<a href="ani">돌아가기</a>
</body>
</html>